<a href="https://colab.research.google.com/github/yash16jr/Deep_Learning/blob/main/Bank%20Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf

In [20]:
!pip install klib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting klib
  Downloading klib-1.0.7-py3-none-any.whl (20 kB)
Requirement already satisfied: matplotlib<4.0.0,>=3.0.3 in /usr/local/lib/python3.8/dist-packages (from klib) (3.2.2)
Requirement already satisfied: pandas<2.0.0,>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from klib) (1.3.5)
Collecting Jinja2<4.0.0,>=3.0.3
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.1/133.1 KB 15.0 MB/s eta 0:00:00
Requirement already satisfied: scipy<2.0.0,>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from klib) (1.7.3)
Requirement already satisfied: seaborn<0.13.0,>=0.11.2 in /usr/local/lib/python3.8/dist-packages (from klib) (0.11.2)
Requirement already satisfied: numpy<2.0.0,>=1.16.3 in /usr/local/lib/python3.8/dist-packages (from klib) (1.21.6)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<2.0.0,>=1.2.0->klib) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib<4.0.0,>=3.0.3->klib) (1.15.0)
Installing collected packages: Jinja2, klib
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
notebook 5.7.16 requires jinja2<=3.0.0, but you have jinja2 3.1.2 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
Successfully installed Jinja2-3.1.2 klib-1.0.7

In [3]:
print(tf.__version__)

2.11.0

In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('/content/drive/MyDrive/Churn_Modelling.csv', header = 0)

In [21]:
import klib

In [22]:
df = klib.data_cleaning(df)

Shape of cleaned data: (10000, 14) - Remaining NAs: 0


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.76 MB (-71.03%)

In [23]:
df.head()

,row_number,customer_id,surname,credit_score,geography,gender,age,tenure,balance,num_of_products,has_cr_card,is_active_member,estimated_salary,exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.000000,1,1,1,101348.882812,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.859375,1,0,1,112542.578125,0
2,3,15619304,Onio,502,France,Female,42,8,159660.796875,3,1,0,113931.570312,1
3,4,15701354,Boni,699,France,Female,39,1,0.000000,2,0,0,93826.632812,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.820312,1,1,1,79084.101562,0

In [24]:
df = pd.get_dummies(df, columns = ['geography', 'gender'], drop_first = True)

In [25]:
df.head()

,row_number,customer_id,surname,credit_score,age,tenure,balance,num_of_products,has_cr_card,is_active_member,estimated_salary,exited,geography_Germany,geography_Spain,gender_Male
0,1,15634602,Hargrave,619,42,2,0.000000,1,1,1,101348.882812,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.859375,1,0,1,112542.578125,0,0,1,0
2,3,15619304,Onio,502,42,8,159660.796875,3,1,0,113931.570312,1,0,0,0
3,4,15701354,Boni,699,39,1,0.000000,2,0,0,93826.632812,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.820312,1,1,1,79084.101562,0,0,1,0

In [26]:
X = df.drop(['row_number','customer_id','surname', 'exited'], axis = 1)
y = df.iloc[:,11]

In [27]:
X.head()

,credit_score,age,tenure,balance,num_of_products,has_cr_card,is_active_member,estimated_salary,geography_Germany,geography_Spain,gender_Male
0,619,42,2,0.000000,1,1,1,101348.882812,0,0,0
1,608,41,1,83807.859375,1,0,1,112542.578125,0,1,0
2,502,42,8,159660.796875,3,1,0,113931.570312,0,0,0
3,699,39,1,0.000000,2,0,0,93826.632812,0,0,0
4,850,43,2,125510.820312,1,1,1,79084.101562,0,1,0

In [28]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: exited, dtype: int8

In [29]:
## Train-Test Splitting
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state = 0 )

In [31]:
## Feature scaling
from sklearn.preprocessing import StandardScaler

In [32]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [65]:
## Creating the model 
import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [34]:
from tensorflow.keras.layers import ReLU

In [35]:
classifier = Sequential()

In [66]:
classifier.add(Dense(11, activation=keras.layers.LeakyReLU(alpha=0.01)))

classifier.add(Dense(50, activation=keras.layers.LeakyReLU(alpha=0.01)))
classifier.add(Dropout(0.3))


classifier.add(Dense(50, activation=keras.layers.LeakyReLU(alpha=0.01)))
classifier.add(Dropout(0.2))


classifier.add(Dense(50, activation=keras.layers.LeakyReLU(alpha=0.01)))
classifier.add(Dense(25, activation=keras.layers.LeakyReLU(alpha=0.01)))
classifier.add(Dense(1, activation = 'sigmoid'))

In [67]:
classifier.compile(optimizer = 'adam',
                   loss = 'binary_crossentropy',
                   metrics = ['accuracy'])

In [69]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.001,
    patience=10,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=True,
    start_from_epoch=0)

In [71]:
model_history = classifier.fit(X_train, y_train, validation_split = 0.33, batch_size = 10, epochs = 1000, callbacks= early_stopping)

Epoch 1/1000
536/536 [==============================] - 5s 10ms/step - loss: 0.3427 - accuracy: 0.8681 - val_loss: 0.3880 - val_accuracy: 0.8508
Epoch 2/1000
536/536 [==============================] - 6s 12ms/step - loss: 0.3330 - accuracy: 0.8690 - val_loss: 0.3718 - val_accuracy: 0.8493
Epoch 3/1000
536/536 [==============================] - 5s 10ms/step - loss: 0.3375 - accuracy: 0.8726 - val_loss: 0.3795 - val_accuracy: 0.8504
Epoch 4/1000
536/536 [==============================] - 6s 11ms/step - loss: 0.3358 - accuracy: 0.8707 - val_loss: 0.3808 - val_accuracy: 0.8463
Epoch 5/1000
536/536 [==============================] - 5s 9ms/step - loss: 0.3341 - accuracy: 0.8729 - val_loss: 0.3776 - val_accuracy: 0.8417
Epoch 6/1000
536/536 [==============================] - 4s 8ms/step - loss: 0.3334 - accuracy: 0.8690 - val_loss: 0.3744 - val_accuracy: 0.8504
Epoch 7/1000
536/536 [==============================] - 6s 12ms/step - loss: 0.3317 - accuracy: 0.8757 - val_loss: 0.3752 - val_accuracy: 0.8573
Epoch 8/1000
536/536 [==============================] - 4s 8ms/step - loss: 0.3299 - accuracy: 0.8698 - val_loss: 0.3766 - val_accuracy: 0.8561
Epoch 9/1000
536/536 [==============================] - 5s 9ms/step - loss: 0.3276 - accuracy: 0.8731 - val_loss: 0.3722 - val_accuracy: 0.8550
Epoch 10/1000
536/536 [==============================] - 6s 12ms/step - loss: 0.3258 - accuracy: 0.8739 - val_loss: 0.3878 - val_accuracy: 0.8554
Epoch 11/1000
536/536 [==============================] - 6s 11ms/step - loss: 0.3263 - accuracy: 0.8707 - val_loss: 0.3719 - val_accuracy: 0.8508
Epoch 12/1000
532/536 [============================>.] - ETA: 0s - loss: 0.3260 - accuracy: 0.8705Restoring model weights from the end of the best epoch: 2.
536/536 [==============================] - 6s 10ms/step - loss: 0.3254 - accuracy: 0.8709 - val_loss: 0.3869 - val_accuracy: 0.8489
Epoch 12: early stopping

In [72]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred >= 0.6)

63/63 [==============================] - 0s 2ms/step

In [48]:
from sklearn.metrics import confusion_matrix

In [73]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[1561,   34],
       [ 243,  162]])

In [61]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)

In [74]:
score

0.8615